$fontColor: #fff;
.loading-anima svg {
    width: 100px;
    height: 100px;
    margin: 20px;
    display: inline-block;
}
.loading-anima {
    background: #4825E7;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
}
//follow me template
.made-with-love {
    margin-top: 20px;
    padding: 10px;
    font-size: 10px;
    font-family: arial;
    color: #fff;
    i {
        font-style: normal;
        color: #fff;
        font-size: 14px;
        position: relative;
        top: 2px;
    }
    a {
        color: #fff;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}
